body{
  background-color: aqua;
  padding: 100px;
  text-align: center;
  
}
.main{
  height: 300px;
  width: 300px;
  margin: auto;
  border-radius: 20px;
  background-color: blueviolet;
  padding-top: 100px;
}
input{
  border-radius: 10px;
  height: 25px;
  border: none;
  margin: 10px;
  text-align: center;
}